<phpunit
	bootstrap="Tests/bootloader.php"
	colors="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">

	<testsuites>
		<testsuite name='All'>
			<directory suffix="Test.php">Tests</directory>
			<file>Tests/CryptoSystem/AES_SHA1Test.php</file>
		</testsuite>
	</testsuites>
</phpunit>